*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }


/* Header Top Section */

 .header_top{
    background-color: #1B0B2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
    border-bottom: 1px solid #412567;
    
 }

 .logo h2{
    color: #FFFFFF;
    font-size: 2.5rem;
 }
 .logo span{
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    /* Learned from chat gpt */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }
 
 .header_top ul{
    list-style: none;
    display: flex;
    gap: 32px;
 }

 .header_top ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    
 }

.btn1{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    border: none;
}


/* Hero Section */

.hero_section{
    height: 760px;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    
}

.hero_img{
    height: 350px;
    width: 350px;
    background-image: url("../assets/hero-circle.png");
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 40px; */
}
.hero_content h2{
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.hero_content p{
    font-size: 1rem;
    color: #FFFFFF;
}

.hero_btn{
    padding-top: 24px;
}

.hero_btn1{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 50px;
    color: #FFFFFF;
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    border: none;
}

.hero_btn2{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 50px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: unset;
}

.hero_btn1 i, .hero_btn2 i{
    margin-right: 8px;
}

/* About Section  */
.about_section{
    background-color: #1B0B2F;
    padding: 50px 200px 120px 200px;
}
.about_content{
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #412567;
}

.about_content h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about_content p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 25px;
}

.statistics_items{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
     
}

.items{
    text-align: center;
}
.items h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.items p{
    color: #FFFFFF;
    font-size: 1rem;
    
}