*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }


/* Header Top Section */

 .header_top{
    background-color: #1B0B2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
    border-bottom: 1px solid #412567;
    
 }

 .logo h2{
    color: #FFFFFF;
    font-size: 2.5rem;
 }
 .logo span{
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    /* Learned from chat gpt */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }
 
 .header_top ul{
    list-style: none;
    display: flex;
    gap: 32px;
 }

 .header_top ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    
 }

.btn1{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    border: none;
}


/* Hero Section */

.hero_section{
    height: 760px;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    
}
.new_btn{
    position: absolute;
    left: 865px;
    top: 140px;
}
#new{
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
       
}
.hero_img{
    height: 350px;
    width: 350px;
    background-image: url("../assets/hero-circle.png");
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* gap: 40px; */
}
.hero_content h2{
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.hero_content p{
    font-size: 1rem;
    color: #FFFFFF;
}

.hero_btn{
    padding-top: 24px;
}

.hero_btn1{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 50px;
    color: #FFFFFF;
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    border: none;
}

.hero_btn2{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 50px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: unset;
}

.hero_btn1 i, .hero_btn2 i{
    margin-right: 8px;
}

/* About Section  */
.about_section{
    background-color: #1B0B2F;
    padding: 50px 200px 120px 200px;
}
.about_content{
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #412567;
}

.about_content h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about_content p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 25px;
}

.statistics_items{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
     
}

.items{
    text-align: center;
}
.items h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.items p{
    color: #FFFFFF;
    font-size: 1rem;
    
}

/* why_chose_section */
.why_chose_section{
    padding: 120px 200px;
    background-color: #230E3D;
    color: #FFFFFF;
}

.why_chose_section h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.grid_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    gap: 20px;
}

.card1, .card2, .card3, .card4, .card5 {
    background-color: #2A0F4D;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    
}

.card1 h2, .card2 h2, .card3 h2, .card4 h2, .card5 h2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.card1 p, .card2 p, .card3 p, .card4 p, .card5 p {
    line-height: 24px;
}

.card1{
    grid-row: span 2;
}

.card2{
    grid-column: span 2;
}
.card3{
    grid-column: span 2;
}
.card4{
    grid-column: span 2;
}

/* featured_episodes_section */
.featured_episodes_section{
    background-color: #1B0B2F;
    padding: 50px 200px 120px 200px;
    
}

.featured_episodes_section h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.eposodes{
    display: flex;
    gap: 30px;
    padding-bottom: 120px;    
}

.ep_cards{
    background-color: #2A0F4D;
    border-radius: 15px;
    /* width: 380px; */
    
}
.ep_cards_video iframe{
    border-radius: 15px 15px 0 0; 
}
.ep_contenet{
    padding: 24px;

}

.ep_contenet h3{
    font-size: 1.5rem;
    padding-bottom: 12px;
    color: #FFFFFF;

}
.ep_contenet p{
    font-size: 1rem;
    color: #FFFFFF;
    padding-bottom: 12px;

}

.ep_contenet span{
    font-size: 1rem;
    color: #00FF88;
    
    
}
.ep_contenet span img{
    padding-right: 6px;    
    
}

/* Meet The Host Section */
.meet_the_host{
    display: flex;
    border-radius: 40px;
    background-color: #2A0F4D;
    padding: 40px;
    gap: 24px;
}

.host_content h3{
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: bold;
}
.host_content p{
    font-size: 1rem;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}

.social_icons{
    display: flex;
    gap: 8px;
}

.icon{
    width: 40px;
    height: 40px;
    border: 2px solid #533C72;
    border-radius: 50px;
    /* background-color: #00FF88; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Section */
.footer_section{
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .footer_logo h2{
    color: #FFFFFF;
    font-size: 3.5rem;
 }
 .footer_logo span{
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }

 .footer_section ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
}

 .footer_section ul i{
   margin-right: 8px;
}

 .footer_section ul li a{
   text-decoration: none;
   color: #FFFFFF;
}



.footer_section p{
    color: #FFFFFF;
    font-size: 1rem;
}

/* Desktop Laptop based End */