*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }


/* Header Top Section */

 .header_top{
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
    
 }

 .logo h2{
    color: #FFFFFF;
 }

 .header_top ul{
    list-style: none;
    display: flex;
    gap: 32px;
 }

 .header_top ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    
 }

.btn1{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    background: linear-gradient(50deg, #F7E93F,#FB09B4, #9100F8 );
    border: none;
}


/* Hero Section */

.hero_section{
    height: 760px;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-size: cover; 
}